.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.withline {
  overflow: hidden;
  text-align: center;
}

.withline:before,
.withline:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.withline:before {
  right: 0.5em;
  margin-left: -50%;
}

.withline:after {
  left: 0.5em;
  margin-right: -50%;
}

.row:last-of-type{
  margin-bottom: 50px;
}

.well {
  background-image: linear-gradient(to bottom,#6cffba 0,#d7fcd9 100%);
}